<template name="register">
  <div id="register">

    <div class="card">
      <form>
        <div class="card-header">
          {{#unless currentUser}}
            <h1>Welcome to Tori!</h1>
            <h2>Registration is simple.</h2>
            <h3>Use the form below.</h3>
          {{/unless}}
        </div>
        <div class="card-body">
          <!-- Step 1 - Auth info like email/pass, or Oauth verification -->
          {{#unless currentUser}}
            <button class="button twitter">
              <i class="fa fa-twitter"></i>
              Sign Up With Twitter
            </button>
            <button class="button google">
              <i class="fa fa-google-plus"></i>
              Sign Up With Google
            </button>

            <div class="divider" data-text="Or"></div>

            <div class="floating-input {{errorClass 'username'}}">
              <input type="text" name="username" id="username" class="user-field username" required="true" value="{{username}}" autocomplete="false">
              <label for="username">Username</label>
              <span class="error-message">{{errorMessage 'username'}}</span>
            </div>

            <!-- <div class="note handle-display {{#unless username}}hide{{/unless}}">
              You will be reached at <a>{{url}}</a><br>
              <small>Don't worry, you can always change it later :)</small>
            </div> -->

            <div class="floating-input {{errorClass 'email'}}">
              <input type="text" name="email" id="email" class="user-field email" required="true" value="{{email}}" autocomplete="false">
              <label for="email">Email Address</label>
              <span class="error-message">{{errorMessage 'email'}}</span>
            </div>

            <div class="floating-input {{errorClass 'password'}}">
              <input type="password" name="password" id="password" class="user-field password" required="true" autocomplete="false">
              <label for="password">Password</label>
              <span class="error-message">{{errorMessage 'password'}}</span>
            </div>

            <button class="button">
              <i class="fa fa-caret-right right"></i>
              Continue
            </button>

          <!-- Step 2 - User has an account but needs to enter pertinent details -->
          {{else}}
            <div class="flex">
              <div class="profile-photo-container">
                <div class="profile-photo" style="background-image: url('{{photo}}')"></div>
              </div>
              <div class="flex-item">
                <h3>Profile Photo</h3>
                <p>
                  Upload a photo.<br>
                  File formats accepted:<br>
                  JPEG, GIF, or PNG.<br>
                </p>
                <div class="floating-input">
                  <input type="text" name="displayName" id="displayName" class="profile-field displayName" required="true" value={{currentUser.profile.displayName}}>
                  <label for="displayName">Display Name</label>
                </div>
                <div class="floating-input">
                  <textarea type="text" name="summary" id="summary" class="profile-field summary" required="true">{{currentUser.profile.summary}}</textarea>
                  <label for="summary">Self-Summary</label>
                </div>
              </div>
            </div>
          {{/unless}}
        </div>
      </form>
    </div>
  </div>
</template>
