<template name="register">
  <div id="register">
    <div class="card">
      <div class="card-header">
        <h1>Welcome to Tori!</h1>
        <h2>Registration is simple.</h2>
        <h3>Use the form below.</h3>
      </div>
      <div class="card-body">
        <button class="twitter">
          <i class="fa fa-twitter"></i>
          Sign Up With Twitter
        </button>
        <button class="google">
          <i class="fa fa-google-plus"></i>
          Sign Up With Google
        </button>
        
        <div class="divider" data-text="Or"></div>
        
        <div class="floating-input">
          <input type="text" name="firstName" id="first-name" class="first-name" required="true">
          <label for="first-name">First Name</label>
        </div>
        
      </div>
    </div>
  </div>
</template>

