// PRIMARY COLOURS
$green:       #6FAD64;
$grass:       #AAC169;
$darkgreen:   #4F5B38;
$white:       #FFFFFF;
$lightgray:   #F0F0F0;
$mediumgray:  #C2C0BD;
$darkgray:    #93997A;

// SECONDARY COLOURS
$blue:        #61ACB8;
$yellow:      #EB880B;
$orange:      #F25923;
$fuscia:      #C2474D;
$beige:       #FAF5E4;
$twitterblue: #55ACEE;
$googlered:   #D85046;

$fw-light:  100;
$fw-normal: 300;
$fw-medium: 500;
$fw-heavy:  700;
$fw-black:  900;

$size-sidebar: 16rem;
$size-header: 4.5rem;
$size-header-button: 2.25rem;
$size-max-width: 1000px;
