$green:       #ACDAA3;
$grass:       #AAC169;
$darkgreen:   #4F5B38;
$white:       #FFFFFF;
$lightgray:   #F2F2F2;
$mediumgray:  #C2C0BD;
$darkgray:    #93997A;

$fw-normal: 400;
$fw-heavy:  700;

$size-sidebar: 16rem;
$size-header: 4.5rem;