@import 'variables';

#compose {
  .haiku-box {
    position: relative;
    width: 100%;
    height: 10rem;
    background: $white;
    outline: none;
    margin: 1rem 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    cursor: text;
    background-position: center center;
    background-size: cover;
    box-shadow: 2px 1px 3px rgba(0,0,0,0.1);
    border-radius: 2px;
    
    .vertically-centered {
      top: 50%;
      transform: translateY(-50%);
    }
    
    .horizontally-centered {
      text-align: center;
    }

    .haiku-text {
      position: relative;
      outline: none;
      font-size: 1.5rem;
      font-weight: $fw-medium;
      
      span {
        &:hover {
          border-bottom: 2px solid $grass;
        }
      }
    }
    
    .placeholder {
      position: absolute;
      width: 100%;
      font-size: 1.4rem;
      opacity: 0.6;
      pointer-events:none;
    }
  }
  
  .background-select {
    line-height: 1.5rem;
    font-weight: $fw-medium;
    color: #444;
    font-size: 0.8rem;
    
    span {
      background-position: center center;
      float: left;
      height: 1.5rem;
      line-height: 1.5rem;
    }
    .label {
      margin-right: 0.5rem;
    }
    .preset {
      width: 1.5rem;
      border: 1px solid rgba(0,0,0,0.2);
      display: inline-block;
      vertical-align: bottom;
      margin-right: 0.25rem;
      border-radius: 2px;
      opacity: 0.8;
      cursor: pointer;
      
      &:hover {
        opacity: 1;
      }
      
      &.selected {
        opacity: 1;
        border: 2px solid $green;
      }
    }
    
    .background-select-1 {
      background-image: url('/images/sample-background-1.jpg');
    }
    .background-select-2 {
      background-image: url('/images/sample-background-2.jpg');
    }
    .background-select-3 {
      background-image: url('/images/sample-background-3.jpg');
    }
    .background-select-4 {
      background-image: url('/images/sample-background-4.jpg');
    }
    
    .background-select-custom {
      position: relative;
      
      
      input[type=file] {
        color: transparent;
        outline: none;
        margin: 0;
        height: 100%;
        
        &.selected {
          &:before {
            border: 2px solid $green;
          }
        }

        
        &::-webkit-file-upload-button {
          visibility: hidden;
        }
        
        &:hover {
          &:before {
            background: darken($blue, 8%);
            border: 2px solid darken($blue, 8%);
          }
        }
        
        &:before {
          content: 'Upload';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          vertical-align: bottom;
          display: inline-block;
          background: $blue;
          border: 2px solid $blue;
          border-radius: 2px;
          padding: 0 1rem;
          line-height: 20px;
          outline: none;
          color: $white;
          -webkit-user-select: none;
          cursor: pointer;
          font-weight: $fw-heavy;
          font-size: 10pt;
        }
      }
    }
  }

  
  .submit-haiku {
    position: relative;
    display: block;
    background: $green;
    padding: 0.75rem 4rem;
    margin: 2rem auto 0;
    border: 0px;
    border-radius: 3rem;
    color: $white;
    font-weight: $fw-heavy;
    outline: none;
    transition: background 0.5s;
    
    &:hover {
      background: darken($green, 8%);
      transition: background 0.2s;
    }
  }
}
