
@font-face {
  font-family: 'Avenir';
  src:  url('fonts/AvenirBook.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirBook.otf')  format('opentype'),
	      url('fonts/AvenirBook.woff') format('woff'),
        url('fonts/AvenirBook.ttf')  format('truetype'),
        url('fonts/AvenirBook.svg#AvenirBook') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src:  url('fonts/AvenirRoman.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirRoman.otf')  format('opentype'),
	      url('fonts/AvenirRoman.woff') format('woff'),
        url('fonts/AvenirRoman.ttf')  format('truetype'),
        url('fonts/AvenirRoman.svg#AvenirRoman') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src:  url('fonts/AvenirMedium.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirMedium.otf')  format('opentype'),
	      url('fonts/AvenirMedium.woff') format('woff'),
        url('fonts/AvenirMedium.ttf')  format('truetype'),
        url('fonts/AvenirMedium.svg#AvenirMedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src:  url('fonts/AvenirHeavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirHeavy.otf')  format('opentype'),
	      url('fonts/AvenirHeavy.woff') format('woff'),
        url('fonts/AvenirHeavy.ttf')  format('truetype'),
        url('fonts/AvenirHeavy.svg#AvenirHeavy') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src:  url('fonts/AvenirBlack.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirBlack.otf')  format('opentype'),
	      url('fonts/AvenirBlack.woff') format('woff'),
        url('fonts/AvenirBlack.ttf')  format('truetype'),
        url('fonts/AvenirBlack.svg#AvenirBlack') format('svg');
  font-weight: 900;
  font-style: normal;
}
