
@font-face {
  font-family: 'Avenir';
  src:  url('AvenirBook.eot?#iefix') format('embedded-opentype'),
        url('AvenirBook.otf')  format('opentype'),
	      url('AvenirBook.woff') format('woff'),
        url('AvenirBook.ttf')  format('truetype'),
        url('AvenirBook.svg#AvenirBook') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src:  url('AvenirRoman.eot?#iefix') format('embedded-opentype'),
        url('AvenirRoman.otf')  format('opentype'),
	      url('AvenirRoman.woff') format('woff'),
        url('AvenirRoman.ttf')  format('truetype'),
        url('AvenirRoman.svg#AvenirRoman') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src:  url('AvenirMedium.eot?#iefix') format('embedded-opentype'),
        url('AvenirMedium.otf')  format('opentype'),
	      url('AvenirMedium.woff') format('woff'),
        url('AvenirMedium.ttf')  format('truetype'),
        url('AvenirMedium.svg#AvenirMedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src:  url('AvenirHeavy.eot?#iefix') format('embedded-opentype'),
        url('AvenirHeavy.otf')  format('opentype'),
	      url('AvenirHeavy.woff') format('woff'),
        url('AvenirHeavy.ttf')  format('truetype'),
        url('AvenirHeavy.svg#AvenirHeavy') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src:  url('AvenirBlack.eot?#iefix') format('embedded-opentype'),
        url('AvenirBlack.otf')  format('opentype'),
	      url('AvenirBlack.woff') format('woff'),
        url('AvenirBlack.ttf')  format('truetype'),
        url('AvenirBlack.svg#AvenirBlack') format('svg');
  font-weight: 900;
  font-style: normal;
}
