@import 'variables';
@import 'mixins';


#haiku-show {
  @include centered-at-max-width;

  .card {

  }
  .haiku {
    height: 18rem;
    border-radius: 2px 2px 0 0;
  }

  $event-row-height: 3rem;
  .haiku-events {
    background: $lightgray !important;
    line-height: $event-row-height;
    padding: 2rem;
    min-height: 145px;
    box-shadow: inset 0px 3px 3px -4px rgba(0,0,0,0.3);
    border-top: 3px solid $white;

    a {
      font-weight: 700;
      color: #111;
    }

    li {
      padding: 0 1rem;
      border-bottom: 1px solid $mediumgray;

      &.placeholder {
        border-bottom: none;
        padding: 1rem 2rem;
        font-style: italic;
        font-size: 1.2rem;
        font-weight: 300;
        text-align: center;
        color: darken($mediumgray, 15%);
      }
    }

    .event-icon {
      display: inline-block;
      font-size: 1.25rem;

      .fa-heart {
        color: $fuscia;
      }

      .fa-retweet {
        color: darken($green, 15%);
      }
    }

    .event-description {
      display: inline-block;
      padding: 0 1rem;

      strong {
        font-weight: 700;
      }
    }

    .event-timestamp {
      display: inline-block;
      float: right;
      font-size: 0.8rem;
      font-weight: 300;
      color: #555;
    }

  }

}
