@import 'variables';

header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: $white;
  height: $size-header;
  line-height: $size-header;
  box-shadow: 2px 0px 4px rgba(0,0,0,0.2);

  .main-logo {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      fill: $green;
    }
  }
  .left-nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    & > div {
      float:left;
    }

    a {
      cursor: pointer;
    }

    .compose-button-container {
      width: $size-header;
      height: $size-header;
      border-right: 1px solid $lightgray;

      .compose-button {
        position: absolute;
        outline: none;
        width: $size-header-button;
        height: $size-header-button;
        top: ($size-header - $size-header-button) / 2;
        left: ($size-header - $size-header-button) / 2;
        right: ($size-header - $size-header-button) / 2;
        bottom: ($size-header - $size-header-button) / 2;
        margin: 0;
        border-radius: 100%;
        transition: background 0.5s;

        &:hover {
          background: darken($green, 8%) !important;
          transition: background 0.2s;
        }

        &.filled {
          border: 0;
          background: $green;
          color: #FFF;
        }

        &.stroked {
          border: 1px solid $lightgray;
        }

        i {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          line-height: $size-header-button;
          text-align: center;
        }
      }
    }

    .secondary {
      position: relative;
      margin-left: ($size-header - $size-header-button) / 2;
      margin-right: 0;
      width: $size-header-button;
      height: $size-header;
      font-size: 14px;

      .header-button {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: block;
        background: $white;
        outline: none;
        border: 1px solid #CCC;
        border-radius: 100%;
        width: $size-header-button;
        height: $size-header-button;
        color: #666;
        transition: 0.5s;

        &:hover {
          color: #333;
          border: 1px solid #AAA;
          transition: 0.1s;
        }

        i {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          line-height: $size-header-button;
          text-align: center;
        }
      }
    }
    .notifications-menu-blocker {
      top: $size-header;
    }

    .notifications-button {
      position: relative;

      .unread-notifications-indicator {
        position: absolute;
        z-index: 5;
        right: 4px;
        top: 7px;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        border: 2px solid $white;
        background: $orange;
      }
    }

    .notifications-menu {
      top: $size-header + 0.4rem;
      padding: 0.4rem 1rem;
      left: 0;
      width: 20rem;

      li {
        position: relative;
        line-height: 3.5rem;
        font-size: 0.8rem;
        border-bottom: 1px solid #EEE;

        a {
          color: #111;
          font-weight: 700;
        }

        .notification-avatar-and-icon {
          position: relative;
          float: left;
          width: 3.5rem;
          height: 3.5rem;
          margin-right: 0.75rem;

          .notification-avatar {
            position: absolute;
            z-index: 1;
            top: 5px;
            left: 0;
            right: 10px;
            bottom: 5px;
            margin: auto;
            background-size: cover;
            background-position: center center;
            border-radius:100%;
          }
          i {
            position: absolute;
            z-index: 2;
            bottom: 5px;
            left: 34px;
            width: 20px;
            height: 20px;
            font-size: 12px;
            text-align: center;
            line-height: 22px;
            border-radius: 100%;
            background: $white;
            border-radius:100%;
            padding-left: 2px;
          }

          .fa-heart {
            color: $fuscia;
          }

          .fa-user-plus {
            color: darken($blue, 12%);
          }

          .fa-retweet {
            color: darken($green, 12%);
          }
        }

        &:hover {
          .mark-as-seen {
            display: block;

            &:hover {
              svg {
                fill: $orange;
              }
            }
          }
        }
        .mark-as-seen {
          position: absolute;
          display: none;
          right: -4px;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 14px + 8px;
          height: 14px + 8px;
          padding: 4px;
          cursor: pointer;

          svg {
            position: absolute;
            top: 4px;
            left: 4px;
            right: 4px;
            bottom: 4px;
            fill: #666;
          }
        }

      }

    }
  }

  .right-nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    .header-account {
      position: relative;
      width: $size-header;
      height: $size-header;
      border-left: 1px solid $lightgray;

      .account-thumb {
        position: absolute;
        display: block;
        outline: none;
        width: $size-header-button;
        height: $size-header-button;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 0;
        background-size: cover;
        background-position: center center;
        border-radius: 100%;
      }

      .account-menu-blocker {
        top: $size-header;
      }

      .account-menu {
        top: $size-header + 0.4rem;
        right: 1rem;
        white-space: nowrap;
        padding: 0.3rem 0;

        a {
          display: block;
          padding: 0.4rem 1.5rem;
          border-bottom: 1px solid $lightgray;
          color: #111;

          &:last-of-type {
            border-bottom: 0;
          }


          &:hover {
            text-decoration: none;
            background: $green;
            color: $white;

            strong, span {
              color: $white;
            }
          }
        }

        .profile-link {
          span {
            font-weight: $fw-light;
            color: $darkgray;
            font-size: 0.7rem;
          }
        }

        .log-out-link {
          font-size: 0.7rem;
          font-weight: $fw-medium;
        }
      }
    }

    .header-log-in {
      position: relative;

      .log-in-text {
        margin: 0;
        padding-right: 2rem;
        font-size: 0.8rem;
        cursor: pointer;
      }

      .log-in-menu-blocker {
        top: $size-header;
      }

      .log-in-menu {
        top: $size-header + 0.4rem;
        right: 1.5rem;
        width: 20rem;

        h5 {
          margin: 0;
          font-weight: $fw-light;
          font-size: 1rem;
        }

        form {
          margin-top: 0.75rem;
          margin-bottom: 0.5rem;
        }

        input {
          outline: none;
          width: 100%;
          padding: 7px;
          font-size: 0.8rem;
          border-radius: 3px;
          border: 1px solid darken($lightgray, 10%);
          margin-top: 0.25rem;
        }

        button {
          width: 100%;
          font-size: 0.85rem;
          margin-top: 0.5rem;
        }

        .oauth-buttons {
          margin-bottom: 0.5rem;
        }

        .register-link {
          display: block;
          margin-top: 0.5rem;
          text-align: center;
          font-weight: $fw-medium;
        }
      }
    }
  }

}
