@import 'variables';

header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: $white;
  height: $size-header;
  line-height: $size-header;
  box-shadow: 2px 0px 4px rgba(0,0,0,0.2);
  
  .main-logo {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      fill: $green;
    }
  }
  .left-nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    
    & > div {
      display: inline-block;
    }
    
    button {
      position: absolute;
      outline: none;
      width: $size-header-button;
      height: $size-header-button;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border-radius: 100%;
      
      &.filled {
        border: 0;
        background: $green;
        color: #FFF;
      }
      
      &.stroked {
        border: 1px solid $lightgray;
      }
      
      i {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        line-height: $size-header-button;
        text-align: center;
      }
    }
    
    .compose-button {
      width: $size-header;
      height: $size-header;
      border-right: 1px solid $lightgray;
    }
  }
  
  .right-nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    
    .header-account {
      position: relative;
      width: $size-header;
      height: $size-header;
      border-left: 1px solid $lightgray;
      
      .account-thumb {
        position: absolute;
        display: block;
        outline: none;
        width: $size-header-button;
        height: $size-header-button;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 0;
        background-size: cover;
        background-position: center center;
        border-radius: 100%;
      }
    }
    
    .header-log-in {
      position: relative;
      
      .log-in-text {
        margin: 0;
        padding-right: 2rem;
        font-size: 0.8rem;
        cursor: pointer;
      }
      
      .log-in-menu-blocker {
        top: $size-header;
      }
      
      .log-in-menu {
        top: $size-header + 0.4rem;
        right: 1.5rem;
        width: 20rem;
        
        h5 {
          margin: 0;
          font-weight: $fw-light;
          font-size: 1rem;
        }
        
        form {
          margin-top: 0.75rem;
          margin-bottom: 0.5rem;
        }
        
        input {
          outline: none;
          width: 100%;
          padding: 7px;
          font-size: 0.8rem;
          border-radius: 3px;
          border: 1px solid darken($lightgray, 10%);
          margin-top: 0.25rem;
        }
        
        button {
          position: relative;
          width: 100%;
          height: 2.3rem;
          font-size: 0.85rem;
          border-radius: 3px;
          border: 0;
          outline: none;
          color: $white;
          margin-top: 0.5rem;
          font-weight: $fw-medium;
          transition: background 0.5s;
          
          &:hover {
            transition: background 0.2s;
          }
          
          i {
            position: absolute;
            top: 0;
            left: 0.65rem;
            line-height: 2.3rem;
            font-size: 1rem;
          }
        }
        
        .tori-login {
          background: $green;
          &:hover {
            background: darken($green, 8%);
          }
        }
        
        .oauth-buttons {
          margin-bottom: 0.5rem;
        }
        .twitter-login {
          background: $twitterblue;
          &:hover {
            background: darken($twitterblue, 8%);
          }
        }
        .google-login {
          background: $googlered;
          &:hover {
            background: darken($googlered, 8%);
          }
        }
        
        .register-link {
          display: block;
          margin-top: 0.5rem;
          text-align: center;
          font-weight: $fw-medium;
        }
      }
    }
  }
  
}