@import 'variables';

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: $lightgray;
}

html, body, input, button, textarea, select {
  font-family: 'Lato', sans-serif;
  font-weight: $fw-light;
}

h1 {
  font-size: 2.5rem;
  color: $darkgray;
}
h2 {
  font-size: 2rem;
  color: $darkgray;
}

a {
  color: $green;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: $fw-medium;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#wrapper {
  position: relative;
  min-height: 100%;
}
.main-content {
  position: relative;
  z-index: 1;
  padding-left: $size-sidebar;
  padding-top: $size-header;
}

.flex {
  display: flex;
}
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.card {
  background: $white;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
}

.divider {
  position: relative;
  height: 2rem;
  text-align: center;
  
  &:before {
    content: attr(data-text);
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 0 0.6rem;
    line-height: 2rem;
    background: $white;
    font-size: 0.8rem;
    font-weight: $fw-medium;
  }
  
  &:after {
    content: '';
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    border-bottom: 1px solid darken($lightgray, 10%);
  }
}

// TODO: Mobile styles for modals
.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  
  &.active {
    display: block;
  }
  
  .modal-backdrop {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
  }
  
  .modal-window {
    position: absolute;
    top: $size-header - 1rem;
    left: 0;
    right: 0;
    width: 750px;
    margin: auto;
    padding: 2rem;
    background: $lightgray;
    border-radius: 3px;
    box-shadow: 5px 8px 15px rgba(0,0,0,0.16);
    
    .close {
      position: absolute;
      right: 0rem;
      top: 0rem;
      width: 4rem;
      height: 4rem;
      padding: 1rem;
      cursor: pointer;
      
      &:hover {
        svg {
          fill: $orange
        }
      }
      
      svg {
        width: 100%;
        height: 100%;
        fill: #999;
      }
    }
    .title {
      color: $green;
      font-size: 2rem;
      margin: 0;
      padding: 0;
      font-weight: $fw-medium;
    }
  }
}

.dropdown-menu {
  position: absolute;
  padding: 1.5rem;
  background: $white;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.15);
  line-height: 1rem;
  border-radius: 3px;
  
  // Little pointer-triangle
  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: -10px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $white;
  }
  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -11px;
    right: 7px;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid rgba(0,0,0,0.2);
  }
}
.dropdown-menu-blocker {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
}
