@import 'variables';


*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background: $offwhite;
}

html, body, input, button, textarea, select {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 2.5rem;
  color: $darkgray;
}
h2 {
  font-size: 2rem;
  color: $darkgray;
}

.card {
  background: $white;
  position: relative;
  border-radius: 0.25rem;
  border-right: 1px solid $lightgray;
  border-bottom: 2px solid $lightgray;
  padding: 1rem;
}
.wrapper {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.flex-container {
  position: relative;
  display: flex;
  padding: 1rem;
}
.sidebar {
  margin-right: 1rem;
  flex: 0 0 15rem;
}
.main-content {
  flex: 1;
}

header {
  position: relative;
  background: $gray;
  
  .main-logo {
    margin: 0 1rem;
    font-size: 3rem;
    font-weight: $fw-heavy;
    line-height: 2em;
    
    a {
      text-decoration: none;
      color: $crimson;
    }
  }
  
  .login {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

