@import 'variables';
@import "{francocatena:compass}/compass";

#profile {
  padding: 2rem;

  .stats {

    li {
      flex: 1;
      text-align: center;
      padding: 1.25rem;

      &.selected {
        border-bottom: 5px solid $grass;
      }
    }
    h4 {
      margin: 0;
      font-weight: $fw-heavy;
      font-size: 1.2rem;
      color: #222;

    }
    h6 {
      text-transform: uppercase;
      font-weight: $fw-light;
      color: $mediumgray;
      font-size: 0.8rem;
      margin: 0;
    }
  }

  .haikus {
    margin-top: 2rem;
    font-weight: $fw-medium;

    .haiku {
      height: 13rem;
      // MOST haiku styles are in their own file, haiku.scss

    }
  }

  .followers, .following {
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
  }

  .follow {
    width: 34%;
    float: left;
    display: flex;
    padding: 0.5rem;

    &:nth-child(3n+1) {
      width: 33%;
      padding-left: 0;
    }

    &:nth-child(3n+3) {
      width: 33%;
      padding-right: 0;
    }

    .card {
      position: relative;
      width: 100%;
      min-height: 200px;
      overflow: hidden;

      .header {
        position: relative;
        height: 5rem;
        background: $green;
        color: $white;
        padding: 0.5rem 0.5rem 0 0.5rem;
        text-align: right;
        overflow: hidden;

        .profile-photo {
          position: absolute;
          top: -0.75rem;
          left: -0.75rem;
          height: 6rem;
          width: 6rem;
          background-size: cover;
          background-position: center center;
          border-radius: 100%;
        }

        h3 {
          font-size: 1rem;
          font-weight: 700;
          margin: 0;
        }
        h5 {
          font-size: 0.8rem;
          font-weight: 300;
          margin: 0;
        }
      }
    }
  }
}
