@import 'variables';
@import "{francocatena:compass}/compass";

#profile {
  padding: 2rem;

  .stats {

    li {
      flex: 1;
      text-align: center;
      padding: 1.25rem;

      &.selected {
        border-bottom: 5px solid $grass;
      }
    }
    h4 {
      margin: 0;
      font-weight: $fw-heavy;
      font-size: 1.2rem;
      color: #222;

    }
    h6 {
      text-transform: uppercase;
      font-weight: $fw-light;
      color: $mediumgray;
      font-size: 0.8rem;
      margin: 0;
    }
  }

  .haikus {
    margin-top: 2rem;
    font-weight: $fw-medium;

    .haiku {
      height: 13rem;
      // MOST haiku styles are in their own file, haiku.scss

    }
  }

  .followers, .following {
    display: flex;
    flex-wrap: wrap;
  }

  .follow {
    width: 33.333%;
    float: left;
    display: flex;
  }
}
