@import 'variables';

#register {
  padding: 3.5rem;
  
  .card {
    max-width: 600px;
    margin: 0 auto;
    
    .card-header {
      padding: 2rem;
      background: $lightgray;
      border-radius: 3px 3px 0 0;
    }
    .card-body {
      padding: 2rem;
    }
    
    h1, h2, h3 {
      margin: 0;
      text-align: left;
    }
    
    h1 {
      font-weight: 900;
      color: $orange;
      font-size: 3.5rem;
      letter-spacing: -2px;
    }
    
    h2 {
      color: #000;
      font-size: 2rem;
      margin-bottom: 0.7rem;
      font-weight: 700;
    }
    
    h3 {
      color: $darkgray;
      font-size: 1.6rem;
      line-height: 1.6rem;
      font-weight: 500;
    }
    
    button {
      width: 100%;
      margin-bottom: 0.5rem;
      font-size: 1.1rem;
      height: 3rem;
      
      i {
        font-size: 1.5rem;
        line-height: 3rem;
      }
    }
  }
  
  .profile-photo {
    position: relative;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 3px solid #FFF;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    background-size: cover;
    background-position: center center;
  }
  
  .handle-display {
    margin-top: 1rem;
    border-radius: 2px;
    text-align: center;
    font-weight: 300;
    
    a {
      font-weight: 500;
      color: $blue;
    }
    
    small {
      opacity: 0.8;
    }
  }
}