@import 'variables';

.sidebar {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: $size-sidebar;
  background: $green;
  padding-top: $size-header + 2rem;
  color: $white;
  text-align: center;

  .profile-image {
    position: relative;
    margin: 0 auto;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    background-size: cover;
    background-position: center center;
    border: 3px solid $white;
  }

  h5 {
    margin: 0.4rem 0;
    font-size: 1.3rem;
  }

  p {
    padding: 0 1rem;
  }

  .location {
    font-size: 0.8rem;
    margin: 1.5rem 0;

    i {
      font-size: 1rem;
    }
  }

  .follow-button {
    padding: 0.5rem;
    width: $size-sidebar * 0.5;

  }
}
