<template name="profile">
  <div class="card">
    <h2>Your Tweets</h2>  
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    <p>fnjfnskdfnsdkfs</p>
    
  </div>
  
</template>