<template name="profileHaikus">
  <div class="haikus card">
    <ul class="haikus-list">
      <li>
        <div class="haiku">
          <div class="haiku-line">
            Waiting for my food,
          </div>
          <div class="haiku-line">
            why is it taking so long?
          </div>
          <div class="haiku-line">
            I want to eat now.
          </div>
        </div>

        <ul class="haiku-actions">
          <li>
            <i class="fa fa-reply"></i><span class="count"></span>
          </li>
          <li>
            <i class="fa fa-retweet"></i><span class="count">3</span>
          </li>
          <li>
            <i class="fa fa-heart"></i><span class="count">6</span>
          </li>
        </ul>
      </li>
      <li>
        <div class="haiku">
          <div class="haiku-line">
            Waiting for my food,
          </div>
          <div class="haiku-line">
            why is it taking so long?
          </div>
          <div class="haiku-line">
            I want to eat now.
          </div>
        </div>

        <ul class="haiku-actions">
          <li>
            <i class="fa fa-reply"></i><span class="count"></span>
          </li>
          <li>
            <i class="fa fa-retweet"></i><span class="count">3</span>
          </li>
          <li>
            <i class="fa fa-heart"></i><span class="count">6</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>