<template name="profileStats">
  {{#if Template.subscriptionsReady}}
    {{#with profile}}
      <div class="stats card flex">
        <a href="{{getLink 'profile'}}" class="{{isSelected 'profile'}}">
          <h6>Haikus</h6>
          <h4>{{ haikus }}</h4>
        </a>
        <a href="{{getLink 'profileFollowers'}}" class="{{isSelected 'profileFollowers'}}">
          <h6>Followers</h6>
          <h4>{{ followers }}</h4>
        </a>
        <a href="{{getLink 'profileFollowing'}}" class="{{isSelected 'profileFollowing'}}">
          <h6>Following</h6>
          <h4>{{ following }}</h4>
        </a>
        <a>
          <h6>Impact</h6>
          <h4>{{ impact }}</h4>
        </a>
      </div>
    {{/with}}
  {{/if}}
</template>
