<template name="profileHaiku">
  <li>
    <!-- There are lots of ways to customize the Haiku, passed in through data attributes. Using CSS3 selectors, we apply styles based on these data attributes! -->
    <div class="haiku"
    data-text-color="{{textColor}}"
    data-text-align="{{textAlign}}"
    data-text-valign="{{textValign}}"
    data-background-align="{{backgroundAlign}}"
    data-background-valign="{{backgroundValign}}"
    data-overlay-color="{{overlayColor}}"
    data-overlay-direction="{{overlayDirection}}"
    data-include-actions="true"
    style="{{#if backgroundImage}}background-image: url({{backgroundImage}});{{/if}}">
      <div class="visibility-gradient"></div>

      <div class="haiku-text">
        {{{body}}}
      </div>
      <ul class="haiku-actions">
        <li>
          <i class="fa fa-reply"></i><span class="count"></span>
        </li>
        <li>
          <i class="fa fa-retweet"></i><span class="count">{{retweets}}</span>
        </li>
        <li class="{{#if doesLike}}liked{{else}}not-liked{{/if}}">
          <button class="like"><i class="fa fa-heart"></i></button>
          <span class="count">{{likes}}</span>
        </li>
      </ul>

    </div>

  </li>
</template>
