<template name="haikuFooter">
  <div class="haiku-footer flex {{footerClasses}}">

    <div class="haiku-author flex-item">
      {{#if isASharedHaiku}}
        SHARED
      {{/if}}
      {{#with author}}
        <div {{portraitAttr}}></div>
      {{/with}}
      <div class="author-and-time">
        {{#with author}}
          <a {{authorLinkAttr}}>{{profile.displayName}}</a>
        {{/with}}
        <br>
        <span class="relative-date">{{relativeDate}}</span>
      </div>
    </div>


    <ul class="haiku-actions">
      <li>
        <button class="reply">
          <i class="fa fa-reply"></i>
        </button>
      </li>
      <li class="{{shareButtonClass}}">
        <button class="share" disabled="{{shareButtonDisabled}}">
          <i class="fa fa-retweet"></i>
        </button>
        <span class="count">{{humanizedShares}}</span>
      </li>
      <li class="{{likeButtonClass}}">
        <button class="like" disabled="{{likeButtonDisabled}}">
          <i class="fa fa-heart"></i>
        </button>
        <span class="count">{{humanizedLikes}}</span>

      </li>
    </ul>

  </div>
</template>
