<template name="haikuFooter">
  <div class="haiku-footer flex {{footerClasses}}">

    <div class="haiku-author flex-item">
      {{#with author}}
        {{#if isASharedHaiku}}
          SHARED
        {{/if}}
        <div {{portraitAttr}}></div>
      {{/with}}
      <div class="author-and-time">
        {{#with author}}
          <a {{authorLinkAttr}}>{{profile.displayName}}</a>
        {{/with}}
        <br>
        <span class="relative-date">{{relativeDate}}</span>
      </div>
    </div>


    <ul class="haiku-actions">
      <li>
        <button class="reply">
          <i class="fa fa-reply"></i>
        </button>
      </li>
      <li class="{{#if hasShared}}shared{{else}}not-shared{{/if}}">
        <button class="share">
          <i class="fa fa-retweet"></i>
        </button>
        <span class="count">{{humanizedShares}}</span>
      </li>
      <li class="{{#if doesLike}}liked{{else}}not-liked{{/if}}">
        <button class="like">
          <i class="fa fa-heart"></i>
        </button>
        <span class="count">{{humanizedLikes}}</span>

      </li>
    </ul>

  </div>
</template>
