<template name="headerLogIn">
  <div class="header-log-in">
    <div class="log-in-text">
      Have an account?&nbsp;&nbsp;<strong>Sign In</strong>
    </div>
    {{#if menuOpen}}
      <div class="dropdown-menu-blocker log-in-menu-blocker"></div>
      <div class="dropdown-menu log-in-menu right-arrow">
        <form class="log-in-form">
          <input type="text" name="email_username" placeholder="Email or Username">
          <input type="password" name="password" placeholder="Password">
          <button class="button tori-login">Sign In</button>
        </form>
        <div class="divider" data-text="or"></div>
        <div class="oauth-buttons">
          <button class="button twitter">
            <i class="fa fa-twitter"></i>
            Sign In With Twitter
          </button>
          <button class="button google">
            <i class="fa fa-google-plus"></i>
            Sign In With Google
          </button>
        </div>
        <div class="divider" data-text="Don't have an account?"></div>
        <a href="/register" class="register-link">Register now</a>
      </div>
    {{/if}}
  </div>
</template>
