<template name="headerAccount">
  <div class="header-account">
    <button class="account-thumb" style="background-image: url('{{ profile.photo }}')"></button>
    {{#if menuOpen}}
      <div class="dropdown-menu-blocker account-menu-blocker"></div>
      <div class="dropdown-menu account-menu right-arrow">
        <a href="{{profileLink}}" class="profile-link">
          <strong>{{profile.displayName}}</strong><br />
          <span>View My Profile</span>
        </a>
        <a href="#" class="log-out-link">Log Out</a>
      </div>
    {{/if}}

  </div>
</template>
